.team-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-bg-color);
  color: #afb1b8;
  transition: background-color var(--timing-function),
    color var(--timing-function);
}

.soc-icon {
  fill: currentColor;
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
  color: var(--second-title-text-color);
}
