.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  @include font(700, 26px, 1.19, 0.03em);
  color: var(--accent-color);
}

.footer-studio {
  color: var(--second-title-text-color);
}
